body {
    font: 16px/28px arial, sans-serif;
    background-color: rgb(142, 195, 159);
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #f6eeee;
}

.header {
    padding: 15px;
}

.header ul li {
    display: inline-block;
    margin-right: 15px;
}

.header a {
    text-decoration: none;
    color: rgb(147, 69, 95);
    padding: 5px;
}

.container .header ul {
    margin-left: -40px;
}
  
.header a:hover {
    background-color: rgb(152, 76, 104);
    color: white;
  }
  
.hero {
    height: 380px;
    background-image: url(img/mochi\ gugel.jpeg);
    background-size: cover;
    background-position: 0 -100px;
}

.content {
    padding: 15px;
}
  
.content .penulis {
    margin-top: -15px;
    font-size: 16px;
    color: rgb(147, 69, 95);
}

.content .pengertian {
    font-size: small;
}

.content .sejarah {
    font-size: small;
}

.tabelheading h2 {
    padding: 10px;
    margin-top: -20px;
}

.tabelalatbahan {
    border: 1px solid rgba(119, 9, 9, 0.812);
    border-collapse: collapse;
    width: 150px;
    height: 80px;
    text-align: justify;
    margin-top: -20px;
    margin-left: 10px;
}

td {
    text-align: justify;
    padding: 15px;
}
  
th {
    text-align: center;
}

.tabelheading2 h2 {
    padding: 10px;
    margin-top: -20px;
}

.tabletutorial {
    border: 1px solid rgb(119, 9, 9);
    border-collapse: collapse;
    width: 700px;
    height: 80px;
    text-align: justify;
    margin-top: -20px;
    margin-left: 10px;
}

td {
    text-align: justify;
    padding: 15px;
}
  
th {
    text-align: center;
}

